@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Wallet.Data.Models.VerifyEmailModel

@{
    ViewData["Title"] = "Verify Email";
    Layout = "_Layout"; // Ensure it uses the same layout
}

<div class="container mx-auto mt-8 p-4 max-w-lg">
    <div class="card p-6 rounded-lg shadow-lg">
        <!-- Heading -->
        <div class="text-center mb-6">
            <h2 class="text-3xl font-bold mb-4">Verify Your Email</h2>
            <p class="text-gray-600 mb-6">Enter your email address and the verification code sent to you to verify your email.</p>
        </div>

        <!-- Display Validation Summary if needed -->
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="bg-red-100 text-red-700 p-4 rounded-lg mb-6">
                @Html.ValidationSummary(true, "", new { @class = "text-red-700" })
            </div>
        }

        <!-- Form for email verification -->
        <form method="post" asp-controller="Account" asp-action="VerifyEmail" class="space-y-4">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Email" class="block text-gray-800 font-bold mb-2">Email Address</label>
                <input asp-for="Email" class="w-full p-3 rounded-lg text-gray-800 bg-gray-100 border border-gray-300 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent focus:shadow-md shadow-[#6172de] transition duration-300 ease-in-out transition-property[box-shadow,border-color]" placeholder="you@example.com" required />
                <span asp-validation-for="Email" class="text-red-500 text-sm mt-2"></span>
            </div>

            <div class="form-group">
                <label asp-for="Code" class="block text-gray-800 font-bold mb-2">Verification Code</label>
                <input asp-for="Code" class="w-full p-3 rounded-lg text-gray-800 bg-gray-100 border border-gray-300 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent focus:shadow-md shadow-[#6172de] transition duration-300 ease-in-out transition-property[box-shadow,border-color]" placeholder="Enter your code" required />
                <span asp-validation-for="Code" class="text-red-500 text-sm mt-2"></span>
            </div>

            <button type="submit" class="btn-primary w-full py-3 rounded font-bold hover:bg-indigo-700 transition duration-300 focus:outline-none focus:ring-2 focus:ring-indigo-500">Verify Email</button>
        </form>

        <!-- Resend Code Link -->
        <p class="text-center text-gray-600 mt-6">
            Didn't receive a code? <a href="@Url.Action("ResendVerification", "Account")" class="text-indigo-500 hover:underline">Resend Code</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
