@model IEnumerable<Wallet.DTO.Response.ContactResponseDTO>

<div class="container mx-auto mt-4">
    <div class="flex flex-wrap justify-start mb-8">
        @foreach (var contact in Model)
        {
            string name = $"{contact.FirstName} {contact.LastName}";
            <div class="bg-white rounded-2xl p-4 shadow-lg w-36 m-2 flex flex-col items-center text-center">
                <img src="@contact.ProfilePictureURL" class="w-16 h-16 rounded-full object-cover mb-2" alt="@contact.FirstName's Profile Picture">
                <p class="text-sm font-medium">@name</p>
            </div>
        }
    </div>
    <div class="mt-3 w-full">
        <a href="@Url.Action("Index", "Contacts")" class="bg-indigo-600 hover:bg-indigo-700 text-white rounded-full py-2 px-4 font-bold text-center block w-full">Show All</a>
    </div>
</div>
