@model Wallet.DTO.Request.CategoryRequestDTO

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Category</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 font-sans">
    <div class="container mx-auto mt-10">
        <div class="bg-white rounded-xl p-8 shadow-lg max-w-lg mx-auto">
            <h2 class="text-2xl font-bold mb-6">Create Category</h2>

            <form method="post" asp-action="CreateCategory" class="space-y-6">
                <!-- Category Name Input -->
                <div>
                    <label asp-for="Name" class="block text-sm font-medium text-gray-700 mb-1">Category Name</label>
                    <input asp-for="Name"
                           class="w-full p-3 border rounded-lg placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 focus:shadow-md shadow-[#6172de] transition duration-300 ease-in-out @((ViewData.ModelState["Name"]?.Errors.Count > 0 ? "border-red-500" : "border-gray-300"))" />
                    <span asp-validation-for="Name" class="text-red-500 text-sm mt-2 block"></span>
                </div>

                <!-- Buttons -->
                <div class="flex space-x-4">
                    <button type="submit" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-6 rounded-full shadow-lg transition duration-150">Save Changes</button>
                    <a href="@Url.Action("Index", "Category")" class="bg-gray-300 hover:bg-gray-400 text-gray-700 font-bold py-2 px-6 rounded-full shadow-lg transition duration-150">Cancel</a>
                </div>
            </form>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>

</html>
