@model Wallet.DTO.Request.MoneyRequestCreateDTO

@{
    ViewData["Title"] = "Create Money Request";
}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<div class="container mx-auto mt-12">
    <div class="bg-white p-8 rounded-xl shadow-lg">
        <h2 class="text-3xl font-semibold text-gray-900 mb-8 text-center">Request Money</h2>

        <form method="post" asp-action="CreateRequest" class="space-y-6">
            <!-- Hidden field to store RecipientId -->
            <input type="hidden" asp-for="RecipientId" />
           

            <!-- Requested Amount -->
            <div>
                <label asp-for="Amount" class="block text-sm font-medium text-gray-700">Amount</label>
                <div class="mt-1 relative rounded-md shadow-sm">
                    <input asp-for="Amount" class="form-input block w-full p-3 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500" placeholder="Enter amount" step="0.01" />
                    <span asp-validation-for="Amount" class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none text-red-500 text-sm"></span>
                </div>
            </div>

            <!-- Requested Currency -->
            <div>
                <label asp-for="RequestedCurrency" class="block text-sm font-medium text-gray-700">Currency</label>
                <select asp-for="RequestedCurrency" class="form-select mt-1 block w-full p-3 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500">
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="BGN">BGN</option>
                    <option value="GBP">GBP</option>
                </select>
                <span asp-validation-for="RequestedCurrency" class="text-red-500 text-sm"></span>
            </div>

            <!-- Description Field -->
            <div>
                <label asp-for="Description" class="block text-sm font-medium text-gray-700">Description</label>
                <input asp-for="Description" class="form-input mt-1 block w-full p-3 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500" placeholder="Add a note " />
                <span asp-validation-for="Description" class="text-red-500 text-sm"></span>
            </div>
            <input type="hidden" asp-for="UserName" />
            <!-- Submit Button -->
            <div class="flex justify-center">
                <button type="submit" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 px-6 rounded-lg shadow-lg transition duration-150">Request Money</button>
            </div>
        </form>
    </div>
</div>
