@model Wallet.DTO.Request.MoneyRequestCreateDTO

@{
    ViewData["Title"] = "Create Money Request";
}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<div class="container mx-auto mt-8">
    <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold text-gray-800 mb-6">Request Money</h2>

        <form method="post" asp-action="CreateRequest">
            <!-- Hidden field to store RecipientId -->
            <input type="hidden" asp-for="RecipientId" />

            <!-- Requested Amount -->
            <div class="mb-4">
                <label asp-for="Amount" class="block text-gray-700 font-bold mb-2">Amount</label>
                <input asp-for="Amount" class="form-input mt-1 block w-full p-2 border border-gray-300 rounded-lg" step="0.01" />
                <span asp-validation-for="Amount" class="text-red-500 text-sm"></span>
            </div>

            <!-- Requested Currency -->
            <div class="mb-4">
                <label asp-for="RequestedCurrency" class="block text-gray-700 font-bold mb-2">Currency</label>
                <select asp-for="RequestedCurrency" class="form-select mt-1 block w-full p-2 border border-gray-300 rounded-lg">
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="BGN">BGN</option>
                    <option value="GBP">GBP</option>
                </select>
                <span asp-validation-for="RequestedCurrency" class="text-red-500 text-sm"></span>
            </div>

            <!-- Description Field -->
            <div class="mb-4">
                <label asp-for="Description" class="block text-gray-700 font-bold mb-2">Description</label>
                <input asp-for="Description" class="form-input mt-1 block w-full p-2 border border-gray-300 rounded-lg" />
                <span asp-validation-for="Description" class="text-red-500 text-sm"></span>
            </div>

            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg">Request Money</button>
        </form>
    </div>
</div>
